caption{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(155, 107, 17);
}

td, th, tr{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    width: 50%;
}
thead{
    background-color: gray;
}

#jeaune{
    background-color: yellow;
}

.etiou{
    background-color: rgb(95, 128, 218);
}
#aqua{
    background-color: aqua;
}
#red{
    background-color: red;
}
